<!-- <p>Courses Work </p> -->
<p>{{ Title }}</p>

<table>
	<thead>
		<th>
			#ID
		</th>
			<th>Courses Name </th>
	</thead>
	<tbody>
		<tr *ngFor="let Courses of Courses">
			<td>{{Courses.id}}</td>
			<td>{{Courses.name}}</td>
		</tr>
	</tbody>

</table>
<table>
	<tr>
		<td [attr.colspan]='colspan'></td>
	</tr>
</table>

<h2>{{binding}}</h2>
<h2 [textContent] ='binding'></h2>

<img src="{{imageUrl}}" />
<img [src]="imageUrl" />
<li>
	<button type ='button' class='btn btn-primary'>tambah</button>
	<button type='button' class="bte btn-primary" [style.backgroundColor]="isActive?'blue':'white'">style</button>
<div (click)="onDivClick($event)">
		<button type="button" class="btn btn-default" (click)="onSave($event)">button</button>
</div>

<input type="text" #nama (keyup.enter)="onKeyUp(nama.value)">

</li>
