<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img src="/img/a.png" alt="">
  
</div>
<br>
<ng-content></ng-content>

 Nama      : <input [(ngModel)]="Name"> <br>
 Password :<input type = "password" [(ngModel)] = "password"> <br>

 <p>Nama : {{Name}}</p>
 <p type = "password">Password : {{password}}</p>
 <!-- <p>fill text Box</p> -->
 <!-- <textarea name="" id="" cols="30" rows="10">{{password}}</textarea> -->

<button (click)= "onClick()" >TekanSaja</button>
<p>{{alamat}}</p>
