<!-- <div *ngIf="courses.length > 0">list of courses</div>
<div *ngIf="courses.length == 0">No courses yet</div> -->

<!-- percabangan ke 2 -->
<!-- <div *ngIf="courses.length > 0 ; then coursesList else noCourses">List of Courses</div>
<ng-template #noCourses> no courses yet</ng-template> -->

<!-- percobaan ke 3  -->
<!-- ng <ng-template #coursesList>atribut coursesList</ng-template> -->
 
<!-- <div [hidden]="courses.length == 0"> list courses list</div>
<div [hidden]="courses.length > 0">no courses yet</div> -->
<!-- 
<ul class="nav nav-pills">
  <li class="nav-item">
    <a 
      (click)="viewMode = 'map'"
      class="nav-link"
      [class.active]="viewMode == 'map'"
      >Map View</a>
  </li>
  <li class="nav-item">
    <a 
     (click)="viewMode = 'list'"
     class="nav-link"
     [class.active]="viewMode == 'list'"
     >list View
  </a>
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Other</div>
</div>

<ul>
  <li *ngFor="let item of coursesFor ; index as i" >
    {{i}}-{{item.name}}
  </li>
</ul>

<ul>
  <li *ngFor="let item of coursesFor ; even as isEven">

    {{item.name}}
    <span *ngIf="isEven">(Even)</span>
  </li>
</ul> -->
<!-- 
<button (click) = "onAdd()">add</button>

<ul>
  <li *ngFor="let item of coursesFor; even as isEven">
    {{item.name}}
    <span *ngIf="isEven">(even)</span>
    <button (click)="onRemove(item)">Remove</button>
    <button (click)="onChange(item)">Update</button>
  </li>
</ul> -->

<!-- <button (click)="loadCourse()">Tampil data</button>
<li *ngFor="let itemone of courseForOne">
  {{itemone.nama}}
</li> -->

<!-- <br>
&nbsp; <button (click) = "loadCourse()">Tampilkan data</button>
<li *ngFor="let itemone of courseForOne ; TrackBy:trackCourse">{{itemone.nama}}</li> -->
<!-- <div *ngIf="courses.length > 0">list courses</div>
ng <ng-template [ngIf]="courses.length>0">
  list of course
</ng-template> -->
<!-- <span 
class = "fa"
[class.fa-star] = ""></span> -->

<router-outlet></router-outlet>

